{% load static %}

{% block title %}
history
{% endblock %}

{% block content %}
<div>
    <p><strong>Триггеры доверия:</strong><br>
        1 - Логотип и брендинг
        <br>
        2 - Гарантия качества или вернем деньги<br>
        3 - С 2019 года - "опыт и качество"<br>
        4 - Виджеты социальных сетей<br>
        5 - Безопасная оплата - "Мир, СПБ"<br>
        6 - Слайдер с реальными товарами и ценами<br>
        7 - Гарантия возврата денег<br>
        8 - Контактная информация<br>
        9 - Социальное доказательство: счетчики<br>
        10 - Политика конфидециальности<br>
        11 - Адаптивность<br>
        12 - Высокая оценка<br>
        13 - Отзывы и рейтинги<br>
        14 - Пользовательское соглашение<br>
        15 - Бейджи безопасной оплаты<br>
    </p><br>
    <br>
    <p><strong>SEO:</strong><br>
        Мета теги: добавлены на главную страницу<br>
        Использование загаловков h1: Кондитерские изделия в Санкт-Петербурге;<br>
        Использование загаловков h2: Популярное; Почему Dessert; Отзывы клиентов; Попробуйте наши десерты; <br>
        Использование загаловков h3: Незабываемые эмоции; Натуральные продукты; Индивидуальный подход;<br>
        title: Dessert - Кондитерские изделия Санкт-Петербург;<br>
        keywords: meta name="description" content... ;<br>
        description: meta name="description" content=...;<br>
        robots: meta name="robots"...;<br>
        canonical: link rel="canonical"...;<br>
        Ссылки: a href="{% url 'catalog' %}" class="btn btn-dark btn-lg px-5 py-3" style="border-radius: 50px;
        a href="https://ok.ru/" <strong>target="_blank"</strong> class="text-dark" <strong>rel="nofollow"</strong>;
    </p>
    <p><strong>Целевая аудитория:</strong></p>
    Жители Санкт-Петербурга (указано в заголовке)
    <br>
    Люди, заказывающие десерты для событий (текст "под ваше событие")
    <br>
    Покупатели премиум-сегмента (акцент на "премиум-класс", "натуральные ингредиенты")
    <br>
    Пользователи, ценящие индивидуальный подход
    <br>
    Готовы платить за качество
    <br>
    Ищут домашнюю выпечку ручной работы
    <br>
    Нужна доставка (есть бесплатная доставка от 5000₽)
    <br>
    Заказывают онлайн через сайт
    <br>
    <strong>Типы десертов указывают на аудиторию:</strong>
    <br>
    Торты → праздники, дни рождения
    <br>
    Бенто-торты → индивидуальные порции, подарки
    <br>
    Горячий шоколад → зимний сезон, уют
    <br>
    Зефир, маршмеллоу, безе → любители легких десертов
    </div>
    {% endblock %}
    
    
    
    